<div id="menu-principal">

    <div class="title-bar" data-responsive-toggle="main-menu">
      <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title">
        <div class="pablopalillo-logo">
          <span>PabloPalillo</span>
        </div>
      </div>
    </div>

    <div class="top-bar" id="main-menu">
      <div class="top-bar-right medium-7 columns">
        <ul class="menu small-11 medium-11 columns">
            <li class="small-12 medium-4 columns"><a href="#">PERFIL 2</a></li>
            <li class="small-12 medium-4 columns"><a href="#">QUIENES SOMOS</a></li>
            <li class="small-12 medium-4 columns"><a href="#">CONTACTENOS</a></li>
        </ul>
      </div>
    </div>
</div>
