<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Metadata -->
    {% block meta %} {% endblock %}
    <title>PabloPalillo | {% block titulo %} {% endblock %} </title>
    <link rel="stylesheet" href="{{STATIC_URL}}css/foundation.min.css" charset="utf-8">
    <link rel="stylesheet" href="{{STATIC_URL}}css/app.css" charset="utf-8">
  </head>

  <body>
    <div class="expanded row">
      {% include "layouts/part_menu.html" %}
    </div>

  <article id="portafolio-page" class="expanded row">

    <section class="element-item">
      {% block content %}{% endblock %}
    </section>


  </article>



    <script src="{{STATIC_URL}}js/vendor/jquery.js"></script>
    <script src="{{STATIC_URL}}js/vendor/foundation.min.js"></script>
    <script src="{{STATIC_URL}}js/app.js"></script>

  </body>
</html>
