<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Metadata -->
    {% block meta %}{% endblock %}
    <title>PabloPalillo | {% block titulo %} {% endblock %} </title>
    <link rel="stylesheet" href="{{STATIC_URL}}css/app.css" charset="utf-8">
    <link rel="stylesheet" href="{{STATIC_URL}}css/foundation.min.css" charset="utf-8">
  </head>

  <body>
    <div class="expanded row">
      <div class="menu-principal">

          <div class="title-bar" data-responsive-toggle="main-menu">
            <button class="menu-icon" type="button" data-toggle></button>
            <div class="title-bar-title">
              <div class="pablopalillo-logo">
                <span>PabloPalillo</span>
              </div>
            </div>
          </div>

          <div class="top-bar" id="main-menu">
            <div class="top-bar-right medium-7 columns">
              <ul class="menu small-11 medium-11 columns">
                  <li class="small-12 medium-4 columns"><a href="#">PERFIL</a></li>
                  <li class="small-12 medium-4 columns"><a href="#">QUIENES SOMOS</a></li>
                  <li class="small-12 medium-4 columns"><a href="#">CONTACTENOS</a></li>
              </ul>
            </div>
          </div>
      </div>

  </div>

    <div id="single-article" class="expanded row">
      <article class="small-12 medium-11 medium-centered large-11 large-centered columns content">
        <header>
          <h1 class="article-title">{% block content-title %}{% endblock %} </h1>
        </header>
        <section class="hide-for-small-only">
            <div class="column row banner">

              <div class="orbit" role="region" aria-label="PabloPalillo Perfil" data-orbit data-use-m-u-i="false">
                <ul class="orbit-container">
                  <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Siguiente </span>&#9664;</button>
                  <button class="orbit-next" aria-label="next"><span class="show-for-sr">Anterior</span>&#9654;</button>
                  {% block banner %}{% endblock %}
                </ul>

                <nav class="orbit-bullets">
                 <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
                 <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
                 <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
                 <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
               </nav>

              </div>

            </div>

        </section>
        <section>
          <div class="column row portafolio">
            {% block content %}{% endblock %}
          </div>
        </section>

      </article>
    </div>


    <footer class="expanded row">
      <div class="small-12 large-12 medium-12 columns">
          <div class="small-6 medium-3 large-3 columns">
            <h5>Enlaces de interes</h5>
            <div class="footer-content">
              <ul class="links">
                <li><a href="http://www.ingercode.com">IngerCode</a></li>
                <li><a href="http://www.faceboook.com">facebook</a></li>
                <li><a href="#">PabloPalillo</a></li>
              </ul>
            </div>
          </div>

          <div class="small-6 medium-3 large-3 columns">
            <h5>Contactenos</h5>
            <div class="footer-content">
              <div class="column row info">
                <div class="column row">
                  <div class="small-12 medium-3 columns mail-icon"></div>
                  <div class="small-12 medium-9 columns mail"><a href="mailto:pablopalillo@openmailbox.org?subject=contacto">pablopalillo @openmailbox.org</a></div>
                </div>
                <div class="column row">
                  <div class="small-12 medium-3 columns ubc"></div>
                  <div class="small-12 medium-9 columns">Medellín - Colombia</div>
                </div>
              </div>
            </div>
          </div>

          <div class="small-6 medium-3 large-3 columns">
            <h5>Aliados</h5>
            <div class="footer-content">
            </div>
          </div>

          <div class="small-6 medium-3 large-3 columns">
            <h5>Síguenos </h5>
            <div class="footer-content">
              <ul class="column row redes">
                <li class="small-6 medium-2 columns icon-tw"><a href="https://twitter.com/PabloPalillo" target="_blank"></a></li>
                <li class="small-6 medium-2 columns icon-fb"><a href="https://github.com/pablopalillo" target="_blank"></a></li>
                <li class="small-6 medium-2 columns end icon-gh"><a href="https://github.com/pablopalillo" target="_blank"></a></li>
              </ul>
            </div>
          </div>



      </div>

    </footer>


    <script src="{{STATIC_URL}}js/vendor/jquery.js"></script>
    <script src="{{STATIC_URL}}js/vendor/foundation.min.js"></script>
    <script src="{{STATIC_URL}}js/app.js"></script>

  </body>
</html>
