<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Metadata -->
    {% block meta %}{% endblock %}
    <title>PabloPalillo | {% block titulo %} {% endblock %} </title>
    <link rel="stylesheet" href="{{STATIC_URL}}css/app.css" charset="utf-8">
    <link rel="stylesheet" href="{{STATIC_URL}}css/foundation.min.css" charset="utf-8">
  </head>

  <body>
    <div class="expanded row">
      <div class="menu-principal">

          <div class="title-bar" data-responsive-toggle="main-menu">
            <button class="menu-icon" type="button" data-toggle></button>
            <div class="title-bar-title">
              <div class="pablopalillo-logo">
                <span>PabloPalillo</span>
              </div>
            </div>
          </div>

          <div class="top-bar" id="main-menu">
            <div class="top-bar-right medium-7 columns">
              <ul class="menu small-11 medium-11 columns">
                  <li class="small-12 medium-4 columns"><a href="#">Servicios</a></li>
                  <li class="small-12 medium-4 columns"><a href="#">Quienes Somos</a></li>
                  <li class="small-12 medium-4 columns"><a href="#">Contactenos</a></li>
              </ul>
            </div>
          </div>
      </div>

  </div>

    <div id="single-article" class="expanded row">
      <article class="large-8 large-centered medium-8 medium-centered columns content">
        <header>
          <h1 class="article-title">{% block content-title %}{% endblock %} </h1>
          <h3 class="subheader">{% block content-subtitle %}{% endblock %} </h3>
        </header>
        <section>
            {% block content %}{% endblock %}
        </section>

      </article>
    </div>

    <footer class="expanded row">

      <div class="large-3 columns">
        <h3>Enlaces de interes</h3>
        <div class="footer-content">
          <ul class="links">
            <li><a href="http://www.ingercode.com">IngerCode</a></li>
            <li><a href="http://www.faceboook.com">facebook</a></li>
            <li><a href="#">PabloPalillo</a></li>
          </ul>
        </div>
      </div>

      <div class="large-3 columns">
        <h3>Aliados</h3>
        <div class="footer-content">

        </div>
      </div>

      <div class="large-3 columns">
        <h3>Contactenos</h3>
        <div class="footer-content">
          <ul class="info">
            <li><a href="mailto:pablopalillo@openmailbox.org?subject=contacto">pablopalillo@openmailbox.org</a></li>
            <li>Medellín - Colombia</li>
          </ul>
        </div>
      </div>

      <div class="large-3 columns">
        <h3>Siguenos</h3>
        <div class="footer-content">
          <ul class="redes">
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">GitHub</a></li>
          </ul>
        </div>
      </div>

    </footer>


    <script src="{{STATIC_URL}}js/vendor/jquery.min.js"></script>
    <script src="{{STATIC_URL}}js/foundation.min.js"></script>
    <script src="{{STATIC_URL}}js/app.js"></script>

  </body>
</html>
