{% extends "generica/portafolio.html" %}

{% block titulo %} Perfil {% endblock %}

{% block content-title %}Perfil Prueba{% endblock %}

{% block banner %}
  <li class="is-active orbit-slide">
    <div>
      <h3 class="text-center">1: You can also throw some text in here!</h3>
      <p class="text-center">Achieve an animation-free Orbit with the data attribute data-use-m-u-i="false"</p>
      <h3 class="text-center">This Orbit slider does not use animations.</h3>
    </div>
  </li>
  <li class="orbit-slide">
    <div>
      <h3 class="text-center">2: You can also throw some text in here!</h3>
      <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde harum rem, beatae ipsa consectetur quisquam. Rerum ratione, delectus atque tempore sed, suscipit ullam, beatae distinctio cupiditate ipsam eligendi tempora expedita.</p>
      <h3 class="text-center">This Orbit slider does not use animations.</h3>
    </div>
  </li>
  <li class="orbit-slide">
    <div>
      <h3 class="text-center">3: You can also throw some text in here!</h3>
      <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde harum rem, beatae ipsa consectetur quisquam. Rerum ratione, delectus atque tempore sed, suscipit ullam, beatae distinctio cupiditate ipsam eligendi tempora expedita.</p>
      <h3 class="text-center">This Orbit slider does not use animations.</h3>
    </div>
  </li>
  <li class="orbit-slide">
    <div>
      <h3 class="text-center">4: You can also throw some text in here!</h3>
      <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde harum rem, beatae ipsa consectetur quisquam. Rerum ratione, delectus atque tempore sed, suscipit ullam, beatae distinctio cupiditate ipsam eligendi tempora expedita.</p>
      <h3 class="text-center">This Orbit slider does not use animations.</h3>
    </div>
  </li>
{% endblock %}


{% block content %}

  <article class="small-11 medium-3 large-3 columns portafolio-item">
    <header class="small-12 medium-12 large-12 columns">
      <img class="thumbnail" src="" alt="" />
    </header>
    <section class="portafolio-item-content">
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde harum rem, beatae ipsa consectetur quisquam.
        Rerum ratione, delectus atque tempore sed, suscipit ullam
      </p>
    </section>
    <section class="small-12 medium-12 columns">
        <button class="small-12 medium-12 columns success button">Detalle</button>
    </section>

  </article>

  <article class="small-11 medium-3 large-3 columns portafolio-item">
    <header class="small-12 medium-12 large-12 columns">
      <img class="thumbnail" src="" alt="" />
    </header>
    <section class="portafolio-item-content">
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde harum rem, beatae ipsa consectetur quisquam.
        Rerum ratione, delectus atque tempore sed, suscipit ullam
      </p>
    </section>
    <section class="small-12 medium-12 columns">
        <button class="small-12 medium-12 columns success button">Detalle</button>
    </section>

  </article>

  <article class="small-11 medium-3 large-3 columns portafolio-item">
    <header class="small-12 medium-12 large-12 columns">
      <img class="thumbnail" src="" alt="" />
    </header>
    <section class="portafolio-item-content">
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde harum rem, beatae ipsa consectetur quisquam.
        Rerum ratione, delectus atque tempore sed, suscipit ullam
      </p>
    </section>
    <section class="small-12 medium-12 columns">
        <button class="small-12 medium-12 columns success button">Detalle</button>
    </section>

  </article>

  <article class="small-11 medium-3 large-3 columns portafolio-item">
    <header class="small-12 medium-12 large-12 columns">
      <img class="thumbnail" src="" alt="" />
    </header>
    <section class="portafolio-item-content">
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde harum rem, beatae ipsa consectetur quisquam.
        Rerum ratione, delectus atque tempore sed, suscipit ullam
      </p>
    </section>
    <section class="small-12 medium-12 columns">
        <button class="small-12 medium-12 columns success button">Detalle</button>
    </section>

  </article>



{% endblock %}
