{% extends "layouts/template.html" %}
{% block meta %} {{ meta|safe }} {% endblock %}
{% block titulo %} {{ article.nombre }} {% endblock %}

{% block content-title %} {{ article.nombre }} {% endblock %}

{% block content %}
  {{ article.contenido|safe }}

  <figure class="article-gallery">
    <div class="orbit" role="region" aria-label="PabloPalillo Perfil" data-orbit data-use-m-u-i="false">
      <ul class="orbit-container">
        <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Siguiente </span>&#9664;</button>
        <button class="orbit-next" aria-label="next"><span class="show-for-sr">Anterior</span>&#9654;</button>
        {% for image in postGallery %}
        <li class="orbit-slide">
          <div class="banner-item">
          <img src="{{ image.href.url }}" alt="planet" />
            <figcaption class="orbit-caption">{{ image.title }}</figcaption>
          </div>
        </li>
        {% endfor %}
      </ul>
  </figure>

{% endblock %}
