{% extends "generica/portafolio.html" %}

{% block titulo %} Perfil {% endblock %}

{% block content-title %}Perfil Prueba{% endblock %}

{% block banner %}
  <li class="is-active orbit-slide">
    <div class="banner-item">
      <img src="{{STATIC_URL}}/img/banner.jpg" alt="planet" />
      <figcaption class="orbit-caption">Somos Globales</figcaption>
    </div>
  </li>
  <li class="orbit-slide">
    <div class="banner-item">
      <img src="{{STATIC_URL}}/img/banner2.jpg" alt="planet" />
      <figcaption class="orbit-caption">Code y Coffee</figcaption>
    </div>
  </li>
  <li class="orbit-slide">
    <div>
      <h3 class="text-center">3: You can also throw some text in here!</h3>
      <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde harum rem, beatae ipsa consectetur quisquam. Rerum ratione, delectus atque tempore sed, suscipit ullam, beatae distinctio cupiditate ipsam eligendi tempora expedita.</p>
      <h3 class="text-center">This Orbit slider does not use animations.</h3>
    </div>
  </li>
  <li class="orbit-slide">
    <div>
      <h3 class="text-center">4: You can also throw some text in here!</h3>
      <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde harum rem, beatae ipsa consectetur quisquam. Rerum ratione, delectus atque tempore sed, suscipit ullam, beatae distinctio cupiditate ipsam eligendi tempora expedita.</p>
      <h3 class="text-center">This Orbit slider does not use animations.</h3>
    </div>
  </li>
{% endblock %}


{% block content %}

  <article class="small-11 medium-3 large-3 columns portafolio-item">
    <header class="small-12 small-centered medium-12 large-12 columns">
      <img class="thumbnail" src="{{STATIC_URL}}/img/th.jpg" alt="" />
    </header>
    <section class="portafolio-item-content">
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde harum rem, beatae ipsa consectetur quisquam.
        Rerum ratione, delectus atque tempore sed, suscipit ullam
      </p>
    </section>
    <section class="small-12 medium-12 columns details">
        <button class="small-12 medium-12 columns success button">Detalle</button>
    </section>

  </article>

  <article class="small-11 medium-3 large-3 columns portafolio-item">
    <header class="small-12 small-centered medium-12 large-12 columns">
      <img class="thumbnail" src="{{STATIC_URL}}/img/th.jpg" alt="" />
    </header>
    <section class="portafolio-item-content">
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde harum rem, beatae ipsa consectetur quisquam.
        Rerum ratione, delectus atque tempore sed, suscipit ullam
      </p>
    </section>
    <section class="small-12 medium-12 columns details">
        <button class="small-12 medium-12 columns success button">Detalle</button>
    </section>

  </article>

  <article class="small-11 medium-3 large-3 columns portafolio-item">
    <header class="small-12 small-centered medium-12 large-12 columns">
      <img class="thumbnail" src="{{STATIC_URL}}/img/th.jpg" alt="" />
    </header>
    <section class="portafolio-item-content">
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde harum rem, beatae ipsa consectetur quisquam.
        Rerum ratione, delectus atque tempore sed, suscipit ullam
      </p>
    </section>
    <section class="small-12 medium-12 columns details">
        <button class="small-12 medium-12 columns success button">Detalle</button>
    </section>

  </article>

  <article class="small-11 medium-3 large-3 columns end portafolio-item">
    <header class="small-12 small-centered medium-12 large-12 columns">
      <img class="thumbnail" src="{{STATIC_URL}}/img/th.jpg" alt="" />
    </header>
    <section class="portafolio-item-content">
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde harum rem, beatae ipsa consectetur quisquam.
        Rerum ratione, delectus atque tempore sed, suscipit ullam
      </p>
    </section>
    <section class="small-12 medium-12 columns details">
        <button class="small-12 medium-12 columns success button">Detalle</button>
    </section>

  </article>



{% endblock %}
